.TransPanel{
    margin:0px;
    padding: 0px;
    font-size: 11px;
}
.TransPanel .inputtxt {
    border: 1px #cccccc solid;
    border-radius: 4px;
    font-size: 16px;
    padding: 4px;
}
.TransPanel .row {
    padding: 4px 0 0 0; 
}
.TransPanel .inline {
    display: inline-block;
}
.TransPanel fieldset {
    border: 1px #cccccc solid;
    border-radius: 4px;
}
.TransPanel .transDiv [transpane] {
    width: 100%;
}
.TransPanel .transDiv .row .inline.date {
    width: 15%;
}
.TransPanel .transDiv .row .inline.date [transpane]{
    cursor: pointer;
}
.TransPanel .transDiv .row .inline.value {
    width: 20%;
}
.TransPanel .transDiv .row .inline.description {
    width: 62%;
}
.TransPanel .transDiv .row .inline [transpane]{
    width: 90%;
}

.TransPanel .transDiv .fileList .row {
    width: 98%;
    padding: 2px;
}
.TransPanel .transDiv .fileList .row.old {
    background: #cccccc;
}
.TransPanel .transDiv .fileList .row:hover {
    background: #5BB75B;
    color: white;
}
.TransPanel .transDiv .fileList .row .file{
    width: 90%;
}
.TransPanel .transDiv .fileList .row .btns a{
    color: red;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0 5px 0;
}