body{ 
	padding: 0;
	margin:0px;
	background: #F0F0F0;
	font-family: 'Tahoma', sans-serif;
	color: #333;
}
div.widthWrapper{display: block;
    margin: 0 auto 0;
    text-align: left;
    width: 980px;
}
div#header {background: -webkit-linear-gradient(top, #122249 0%,#13244E 24%,#192F62 82%,#193065 100%);
	border-top: 6px solid #0F1C3C;
	border-bottom: 7px solid #0F1C3C;
	width: 100%;
	color:#eee;
}
div.menuWrapper{margin: 0 0 6px 0;display: block;}
div.menuWrapper .topMenuDiv{display: inline-block;width: 70%;}
div.menuWrapper .topMenuDiv .logo{display: inline-block;
	margin-bottom: 30px;
	font-size: 30px;
	padding: 8px 10px;
}
div.menuWrapper .topMenuUser{text-align: right;}
div.menuWrapper .topMenuUser .welcomeMsg{margin-top: 8px;vertical-align: top;display: inline-block;}
.topMenuDiv ul {list-style: none;margin:0px;padding: 0px;}
.topMenuDiv ul li{display: inline-block;}
.topMenuDiv a.menuItem,
.topMenuDiv a#active
{
    text-decoration:none;
    color: #eee;
	padding: 8px 25px 6px 25px;
}
.topMenuDiv a#active
{
	color: white;
    border-radius: 5px 5px 0 0;
	background: #0F1C3C;
}
.topMenuDiv a.menuItem:hover
{
	background: #0F1C3C;
    border-radius: 5px 5px 0 0;
}

.content-box {
	background: white;
	margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.65);
}
.content-box .box-title {
    border-radius: 5px 5px 0 0;
	background: #1E3A7D;
	margin: 0;
	padding: 9px 13px;
	font-size: 13px;
	color: white;
	text-shadow: 0px -1px 1px #0F1C3C;
}
