.addBtn {
    float: right;
}

.smlTxt {
    font-size: 10px;
}

.fullwidth {
    width: 99%;
}

.valignTop {
    vertical-align: top;
}

.alignLeft {
    text-align: left;
}

.inlineblock {
    display: inline-block;
}

.propertyWrapper .property.row {
    font-size: 11px;
}

.propertyWrapper .minusCurrency {
    color: red;
}

.propertyWrapper .summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 2px;
    text-align: left;
}

.propertyWrapper .summary:hover {
    color: #1E3A7D;
    background: white;
}

.propertyWrapper .title,.propertyWrapper .boughtvalue,.propertyWrapper .setup,.propertyWrapper .outgoing,.propertyWrapper .income,.propertyWrapper .returnpercentage,.propertyWrapper .profit
    {
    display: inline-block;
    padding: 3px;
    width: 80px;
}

.propertyWrapper .values:hover {
    background: #cccccc;
    color: black;
}

.propertyWrapper .income a,.propertyWrapper .outgoing a {
    color: #1E3A7D;
    text-decoration: none;
    font-weight: bold;
}

.propertyWrapper .returnpercentage {
    width: 30px;
    font-style: italic;
    font-size: 9px;
    text-align: left;
}

.propertyWrapper .title {
    font-weight: bold;
    cursor: pointer;
    width: auto;
}

.propertyWrapper .summery {
    text-align: left;
}

.propertyWrapper .property.row .comments {
    font-style: italic;
    color: #1E3A7D;
    border-bottom: 1px #1E3A7D solid;
}

.propertyWrapper .property.row .assets ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.propertyWrapper .property.row .assets ul li {
    padding: 4px;
}

.propertyWrapper .property.row .assets a,.propertyWrapper .property.row .assets a:link
    {
    color: #1E3A7D;
    font-size: 10px;
    font-weight: bold;
    margin: 3px;
    padding: 4px;
    text-decoration: none;
}

.propertyWrapper .property.row .assets a:hover {
    background: none repeat scroll 0% 0% rgb(30, 58, 125);
    border-radius: 4px 4px 4px 4px;
    color: white;
}

.newRow .label {
    width: 20%;
}

.newRow .typein {
    width: 79%;
}

.newAccDiv .newRow .label {
    padding: 8px 4px 0 0;
}

.newAccDiv .newRow .address .state,.newAccDiv .newRow .address .postcode,.newAccDiv .newRow .address .suburb
    {
    width: 32%;
    padding: 0 1% 0 0;
}