.property.row {
	font-size: 11px;
}
.minusCurrency {
	color: red;
}
.title,
.boughtvalue,
.setup,
.outgoing,
.income,
.returnpercentage,
.profit{
	display: inline-block;
	padding: 3px;
	width: 100px;
}
.values:hover {
	background: #cccccc;
	color: black;
}
.income a,
.outgoing a {
	color: #1E3A7D;
	text-decoration: none;
	font-weight:bold;
}
.returnpercentage {
	width: 30px;
	font-style: italic;
	font-size: 9px;
	text-align: left;
}
.title {
	font-weight: bold;
	cursor: pointer;
}
.summery{
	text-align: left;
}
.addBtn {float: right;}