body{background: #D2D2D2;}
.left {
    float: left !important;
}
label {
    cursor: pointer;
}
.clearfix {
    border: medium none;
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
.button, .small-button {
    background: -moz-linear-gradient(center top , #F6F6F6 0%, #E7E7E7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D0D0D0;
    box-shadow: 0 1px #FFFFFF;
    color: #2E7DD2;
    text-shadow: 0 1px #FFFFFF;
}
.button {
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 4px 11px;
    text-align: center;
    text-decoration: none;
}
.right {
    float: right !important;
}
.loginError{text-align: right;font-size:14px;display: block;}
.bodyWrapper{display: block;
    margin: -150px auto 0;
    position: relative;
    text-align: left;
    width: 375px;}
#loginContainer {
    height: 100%;
    text-align: left;
    width: 100%;
}
#loginBox {
    overflow: visible;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
#login {
    display: block;
    margin: -150px auto 0;
    position: relative;
    text-align: left;
    width: 500px;
}
#loginblk {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.65);
    padding: 20px 0 0;
    text-align: center;
}
#login_lbg {
    border-bottom: 1px #cccccc solid;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    font-size: 20px;
    font-weight: 600
}
#loginCredentials {
    display: table;
    margin: 0 auto;
    text-align: left;
    width: 400px;
}
#loginCredentials .loginField {
    display: table-row;
    vertical-align: middle;
}
#loginCredentials .loginField .loginLabel {
    color: #333333;
    display: table-cell;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    padding: 2px 20px 3px 0;
    text-align: right;
    vertical-align: middle;
}
#loginCredentials .loginField .loginInput {
    -moz-box-sizing: border-box;
    border: 1px solid #CAD3DC;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    height: auto;
    line-height: 16px;
    margin: 4px 0 4px -10px;
    outline: medium none;
    padding: 10px;
    position: relative;
    width: 280px;
}
#loginCredentials .loginField .inputWrapper {
    display: table-cell;
}
#loginCommands {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 360px;
}
#loginCommands .loginButton {
    display: block;
    float: right;
    height: 26px;
    padding: 10px 0 20px;
    vertical-align: middle;
    width: 230px;
}
.button.primary {
    background: #7DCB39;
    border: 1px solid #72BA33;
    box-shadow: 0 1px #62A12C;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px #589027;
    width: auto !important;
    font-size: 16px;
 	padding: 4px 30px;
}
.button.primary:hover {
    background: #70CA22;
}