html,body,.main-form {
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 100%;
	color: #6D7274;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 175%;
}

a {
	outline: none;
}

.main-form>#mainbody {
	min-height: 86%;
}

.main-form>#mainbody .page-header {
	margin-top: 0px;
}

#footer {
	padding: 20px 0;
	background: #eee;
}

.file-drop-zone {
	border: 1px #ccc dotted;
	border-radius: 4px;
	padding: 8px;
}

.file-drop-zone:hover {
	border-color: #000;
}